@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
  }
#my-image {
    box-shadow: 0 0 22px 3px black;
  }
  a {
    background-color: #212121;
    border: 3px solid #ff0000;
    color: #6600ff;
  }
  a:hover, a:focus {
    background-color: #ff000000;
    color: #212121;
  }
#my-image:hover {
    opacity: 0;
    transition: opacity 0.07s;
  } 
  li:hover {
    color: red;
  }
  body {
    background-color: #4B0082;
  }
  a {
    text-decoration: none;
    border-bottom: none;
  }
